---
import CtaButton from "../shared/CtaButton.astro";
import Paragraph from "../shared/Paragraph.astro";

export interface Props {
  features: string[];
}

const { features } = Astro.props;
---

<div
  class="p-5 sm:p-6 lg:p-8 relative overflow-hidden rounded-3xl shadow-md shadow-slate-700 dark:shadow-slate-900
  bg-gradient-to-tr from-slate-100/70 to-zinc-200/60 dark:from-slate-800/10 dark:to-zinc-800/10 backdrop-blur-md hover:bg-black/10 hover:dark:bg-slate-700/10"
>
  <div class="mt-6 space-y-4 relative">
    <Paragraph>
      <div
        class="mt-8 space-y-4 text-heading-3 font-medium list-outside list-disc"
      >
        {
          features.map((feature) => {
            return (
              <div class="flex items-center font-medium">
                <span class="font-bold rounded-full w-8 h-8 mr-3 inline-flex justify-center items-center text-primary dark:text-white">
                  &checkmark;
                </span>
                {feature}
              </div>
            );
          })
        }
        <div class="mx-auto mb-8">
          <CtaButton />
        </div>
      </div>
    </Paragraph>
  </div>
  <!-- <span
    class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"
  ></span> -->
</div>
