---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

import GradiantText from "../shared/GradiantText.astro";

type ServiceProps = {
  title: string;
};
const services = [
  {
    title: "NIB PERORANGAN (seluruh Indonesia)",
  },
  {
    title: "CV (seluruh Indonesia)",
  },
  {
    title: "PT UMUM / PT PERORANGAN (seluruh Indonesia)",
  },
  {
    title: "UPDATE NIB (OSS RBA) (seluruh Indonesia)",
  },
  {
    title: "SIUJPT rekomendasi DISHUB dan verifikasi sertifikat standar (wilayah Jawa Timur)",
  },
  {
    title: "SIPA izin angkutan truck untuk verifikasi sertifikat standar (wilayah Surabaya dan Sidoarjo)",
  },
  {
    title: "PIRT (khusus wilayah Surabaya, Sidoarjo, dan Gresik)",
  },
  {
    title: "MEREK (seluruh Indonesia)",
  },
  {
    title: "IMB/PBG (wilayah Surabaya dan Sidoarjo)",
  },
  {
    title: "Izin LIMBAH (wilayah Surabaya dan Sidoarjo)",
  },
  {
    title: "ISO (seluruh Indonesia)",
  },
  {
    title: "SMK3 (seluruh Indonesia)",
  },
  {
    title: "SNI (seluruh Indonesia)",
  },
  {
    title: "Izin PT PMA",
  },
  {
    title: "Izin BPOM (wilayah Jawa Timur)",
  },
  {
    title: "Izin IPAK",
  },
  {
    title: "Izin Konstruksi Pembuatan Tenaga Ahli SKK + Dokumen SBU (wilayah Jawa Timur)",
  },
  {
    title: "Izin PKKPR (seluruh Indonesia)",
  },
  {
    title: "Pembuatan Website Perusahaan",
  },
  {
    title: "Izin Pengeboran Air Sumur (wilayah Jawa Timur)",
  },
  {
    title: "Verifikasi Sertifikat Standar untuk Risiko Menengah Tinggi dan Tinggi",
  },
  {
    title: "Izin TKDN",
  },
  {
    title: "Izin PKRT",
  },
  {
    title: "Instalasi dan Izin IPAL",
  },
  {
    title: "Izin SPIONAM KBLI Angkutan Risiko Tinggi 49432",
  },
  {
    title: "Izin HALAL",
  },
  {
    title: "Izin Lainnya",
  },
];

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="layanan" class=`${className}`>
  <Container className="">
    <div class="text-center max-w-3xl mx-auto">
      <Title>
        Kami menyediakan <GradiantText>Banyak Pilihan Jasa </br> Izin Usaha</GradiantText> untuk Anda
      </Title>
    </div>
    <div class="flex flex-row flex-wrap mt-8">
      {
        services.map((service: ServiceProps) => {
          return (
            <div class="flex items-center text-heading-3 font-medium basis-full md:basis-1/2 lg:basis-1/3">
              <span class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">
                &checkmark;
              </span>
              <span class="flex-1">
                {service.title}
              </span>
            </div>
          );
        })
      }
    </div>
  </Container>
</section>
